html, body {
    height: 100%;
    background: url(/assets/img/bg-6.png) 49px 37px,
    url(../img/bg-5.png) 35px 51px,
    url(../img/bg-4.png) 163px 50px,
    url(../img/bg-3.png) 147px 128px,
    url(../img/bg-2.png) 25px 57px,#f2f2f2 
    url(../img/bg-1.png) 11px 33px;
    color:#454545;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#wrap > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}
